
/* Body BG Color */
body, .body-class {
	background: none;
	background-color: #FFFEF3}

/* Top Block BG */
#top-block-bg {
	background: none;
	background-color: #E8536E }

/* Title BG */
.widget-title {
	background: url() left 4px repeat-x;
}



/* Theme Color */
li.current_page_item a, .current_page_item, li.current-menu-parent,.current-menu-parent, .current-menu-ancestor > a, li .current-menu-item,  .current-menu-item a {
	border-bottom-color: #E8536E !important;
}


.author-profile-block {
	border-bottom: 4px solid #E8536E !important;
}
.nav-tabs .active a, .nav-tabs .active a:hover, .nav-tabs li a:hover {
	border-bottom: 4px solid #E8536E !important;
}
.sf-menu a:hover { border-bottom: 5px solid #E8536E; }

.sf-menu ul li:hover { background: #E8536E; }
.widget li.cat-item a, .left-col a, .right-col a, .tweet_text a, .copyright a:hover, .add-info a:hover, .post-title a:hover  { color: #E8536E; }

.category-item a, .title-block .category-item a, .entry-content a, .btn-link {
	color: #E8536E; 
}
.top-img {
	border-bottom: 4px solid #E8536E;
}
span.page-numbers.current, .pagination a:hover, .pagination .current {
	border-bottom: 4px solid #E8536E}
.colored-title { color: #E8536E; }

#footer .widget .tagcloud a[class|="tag-link"]:hover, #footer #entry-post a[rel="tag"]:hover, #footer .tagcloud a[class|="tag-link"]:hover {
	border-bottom-color: #E8536E;
}
.entry-post-category a { color: #E8536E; }
a:hover { color: #E8536E; } 

h2.entry-post-title a:hover { color: #E8536E; }

.tooltip-inner { border-bottom: 2px solid #E8536E; }
.tooltip.top .tooltip-arrow { border-top-color: #E8536E; }

table#wp-calendar td#today { background-color: #E8536E; }

::selection { 	background-color: #E8536E !important; color: #fff	 }

::-moz-selection { 	background-color: #E8536E !important; color: #FFF	 }


/* Theme Color */

.top-menu-block, #bottom-block-bg { background-color: #fffef3 }

.triangles:after, .triangles:before, .triangles-footer:after{
    background-image: -webkit-linear-gradient(45deg, #fffef3 25%, transparent 25%, transparent 75%, #fffef3 75%, #fffef3 ),
                      -webkit-linear-gradient(-45deg, #fffef3 25%, transparent 25%, transparent 75%, #fffef3 75%, #fffef3 );
    background-image:    -moz-linear-gradient(45deg, #fffef3 25%, transparent 25%, transparent 75%, #fffef3 75%, #fffef3 ),
                         -moz-linear-gradient(-45deg, #fffef3 25%, transparent 25%, transparent 75%, #fffef3 75%, #fffef3 );
    background-image:     -ms-linear-gradient(45deg, #fffef3 25%, transparent 25%, transparent 75%, #fffef3 75%, #fffef3 ),
                          -ms-linear-gradient(-45deg, #fffef3 25%, transparent 25%, transparent 75%, #fffef3 75%, #fffef3 );
    background-image:      -o-linear-gradient(45deg, #fffef3 25%, transparent 25%, transparent 75%, #fffef3 75%, #fffef3 ),
                           -o-linear-gradient(-45deg, #fffef3 25%, transparent 25%, transparent 75%, #fffef3 75%, #fffef3 );
    background-image:         linear-gradient(45deg, #fffef3 25%, transparent 25%, transparent 75%, #fffef3 75%, #fffef3 ),
                              linear-gradient(-45deg, #fffef3 25%, transparent 25%, transparent 75%, #fffef3 75%, #fffef3 );
}

.triangles-footer:before, .triangles-footer:after {
    background-image: -webkit-linear-gradient(45deg, #fffef3 50%, transparent 50%, transparent 100%, #fffef3 100%, #fffef3 ),
                      -webkit-linear-gradient(135deg, #fffef3 50%, transparent 50%, transparent 100%, #fffef3 100%, #fffef3 );

    background-image:     -moz-linear-gradient(-45deg, #fffef3 50%, transparent 50%, transparent 100%, #fffef3 100%, #fffef3), 
    						-moz-linear-gradient(45deg, #fffef3 50%, transparent 50%, transparent 100%, #fffef3 100%, #fffef3);

    background-image:     -ms-linear-gradient(-45deg, #fffef3 50%, transparent 50%, transparent 100%, #fffef3 100%, #fffef3), 
    						-ms-linear-gradient(45deg, #fffef3 50%, transparent 50%, transparent 100%, #fffef3 100%, #fffef3);


    background-image:     -o-linear-gradient(-45deg, #fffef3 50%, transparent 50%, transparent 100%, #fffef3 100%, #fffef3), 
    						-o-linear-gradient(45deg, #fffef3 50%, transparent 50%, transparent 100%, #fffef3 100%, #fffef3);

    background-image:     linear-gradient(-45deg, #fffef3 50%, transparent 50%, transparent 100%, #fffef3 100%, #fffef3), 
    						linear-gradient(45deg, #fffef3 50%, transparent 50%, transparent 100%, #fffef3 100%, #fffef3);
}